@tailwind base;

html {
  margin-left: calc(100vw - 100%);
  margin-right: 0;
}
/* Firefox */
/* * {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
} */

/* Chrome, Edge, and Safari */
/* *::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
} */
@tailwind components;
@tailwind utilities;

.animate-gradient {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  body {
    display: block;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
